 {% load static %}
 <!-- Header -->
 <header>
    <div class="flex items-center thembg1 h-[60px] z-50">
        <!-- small screen button -->
        <button
            class="text-white bgbutton hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mx-4"
            type="button" onclick="toggleDrawer()">
            <i class="fa-solid fa-sliders"></i>
        </button>
        <img src="assest/image/nextfit.png" alt="nextfit_logo" class="w-[50px] h-[50px]" />
    </div>
</header>
