{% load static %}
 <!-- Left Sidebar -->
        <!--========= left side start==========-->
        <div id="drawer-example"
            class="fixed lg:relative top-15 left-0 z-40 lg:z-auto h-screen lg:h-auto pb-4 bg-white transition-transform translate-x-0 lg:w-96 w-96 "
            tabindex="-1" aria-labelledby="drawer-label">
            <button type="button" onclick="toggleDrawer()"
                class="bg-transparent  rounded-lg text-sm w-6 h-6 absolute top-0 right-0 lg:hidden flex items-center justify-center">
                <svg class="w-3 h-3 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
                <span class="sr-only">Close menu</span>
            </button>
            <!-- Left Sidebar -->
            <div class="fixed sticky top-0 h-[100vh] overflow-auto">
                <ul class="font-semibold mx-4" id="menu">
                    <a href='{% url "dashboard_home" %}' class="flex items-center px-6 py-3 thembg rounded-full m-2">
                        <i class="fa-solid fa-layer-group"></i>
                        <li class="px-6">Dashboard</li>
                    </a>
                    
                    <!-- Website Info -->
                    <li class="">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa fa-flag  text-2xl"></i>
                            <span class="px-6 text-left">Website Info</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="{% url "website_info_list" %}">Website Info List</a>
                            </li>
                            <li class="pb-3">
                                <a href="{% url "website_info_add" %}">Add Website Info</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Return Product -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa fa-repeat  text-2xl"></i>
                            <span class="px-6 text-left">Return Product</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Add Return</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Return Request List</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Return Complete list</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Return Cancel List</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Category -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-solid fa-table  text-2xl" area-hidden="true"></i>
                            <span class="px-6 text-left">Category</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Category</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Brand -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-solid fa-leaf  text-2xl"></i>
                            <span class="px-6 text-left">Brand</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Brands</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Price Range -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-solid fa-shekel-sign  text-2xl"></i>
                            <span class="px-6 text-left">Price Range</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Price Range</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Colors -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-solid fa-paintbrush  text-2xl"></i>
                            <span class="px-6 text-left">Colors</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Colors</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Sizes -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-solid fa-maximize  text-2xl"></i>
                            <span class="px-6 text-left">Sizes</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Sizes</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Banner -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-regular fa-images  text-2xl"></i>
                            <span class="px-6 text-left">Banner</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Banner</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Product -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-solid fa-cart-flatbed-suitcase  text-2xl"></i>
                            <span class="px-6 text-left">Product</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Add Product</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Publish Product List</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Pending Product List</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Order -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-solid fa-list-check  text-2xl"></i>
                            <span class="px-6 text-left">Order</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Pending Order List</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Complete Order List</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Return Order List</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Cancel Order List</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Payment -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-regular fa-credit-card  text-2xl"></i>
                            <span class="px-6 text-left">Payment</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Bkash Payment List</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Refund Payment List</a>
                            </li>

                        </ul>
                    </li>

                    <!-- Vendors -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa fa-users  text-2xl"></i>
                            <span class="px-6 text-left">Vendors</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Varified Vendor List</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Vendor Request List</a>
                            </li>

                        </ul>
                    </li>

                    <!-- Payment Request -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-solid fa-credit-card  text-2xl"></i>
                            <span class="px-6 text-left">Payment Request</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Payment Add</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Payment Pending</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Payment Complete</a>
                            </li>

                        </ul>
                    </li>

                    <!-- Users -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa fa-users  text-2xl"></i>
                            <span class="px-6 text-left">Users</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Superuser List</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Customar List</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Satf List</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Flashsale -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-solid fa-ship  text-2xl"></i>
                            <span class="px-6 text-left">Flashsale</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Flashsale List</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Add Flashsale</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Coupon -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-solid fa-tags  text-2xl"></i>
                            <span class="px-6 text-left">Coupon</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Coupon List</a>
                            </li>
                            <li class="pb-3">
                                <a href="{% url "coupon_add" %}">Add Coupon</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Campaign -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-solid fa-bullhorn  text-2xl"></i>
                            <span class="px-6 text-left">Campaign</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Add Campaign Category</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Campaign Category List</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Add Campaign Product</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Campaign Product List</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Deal Of The Day -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-regular fa-calendar-check  text-2xl"></i>
                            <span class="px-6 text-left">Deal Of The Day</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Deal Of The Day Product</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Review & Rating -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-solid fa-star  text-2xl"></i>
                            <span class="px-6 text-left">Review & Rating</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">User Review & Rating List</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Add New Rview & Rating</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Contact Us -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-solid fa-phone-volume  text-2xl"></i>
                            <span class="px-6 text-left">Contact Us</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">Contact List</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Add Contact</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Font End -->
                    <li class="  ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-regular fa-snowflake  text-2xl"></i>
                            <span class="px-6 text-left">Font End</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">
                            <li class="pb-3">
                                <a href="#">About Us</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Terms & Conditions</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Mission</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Vission</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Return Policy</a>
                            </li>
                            <li class="pb-3">
                                <a href="#">Shipping & Delivery Policy</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Log Out -->
                    <li class="pb-20 ">
                        <div onclick="toggleMenu(this)" class="flex items-center menu-item relative px-6 py-2 text-md">
                            <i class="fa-solid fa-power-off  text-2xl"></i>
                            <span class="px-6 text-left">Log Out</span>
                            <span class="absolute pull-right-container right-4 ">
                                <i class="fa fa-angle-right rotate-right "></i>
                            </span>
                        </div>
                        <ul class="treeview-menu disc hidden ml-14 text-sm ">

                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <!--========= left side end==========-->