{% extends "base.html" %}
{% load static %}
{% block title %}home{% endblock title %}
{% block content %}

    <!-- Registation start -->
    <section>
        <div class="container max-w-7xl  mx-auto justify-items-center">
            <div class="grid grid-cols-1 lg:mx-12 md:mx-6 mx-2 my-8 bg-white shadow-lg rounded-lg border border-gray-200 ">
                <div class="text-center lg:mx-12 md:mx-10 mx-6">
                    <p class="themcolor1 font-semibold pb-4 lg:text-5xl md:text-3xl text-xl">Registation</p>
                    <div class="border border-gray-400 "></div>
                    <form method="post" action="">
                        {% csrf_token %}
                        {% comment %} {{form.as_p}} {% endcomment %}
                        <div class="grid grid-cols-1 pt-8 lg:gap-y-4 gap-y-4 gap-x-4 ">
                            <input class="rounded-lg focus:outline-none focus:ring-0" name="phone" type="tel" placeholder="Phone number">
                            <input class="rounded-lg focus:outline-none focus:ring-0 " name="email" type="email" placeholder="E-mail address">
                            <input class="rounded-lg focus:outline-none focus:ring-0" name="password1" type="password" placeholder="Password">
                            <input class="rounded-lg focus:outline-none focus:ring-0" name="password2" type="password" placeholder="Confirm password">
                        </div>
                        <div class=" w-full flex flex-col mt-4">
                            <button type="submit" class="thembg1 p-2 rounded-lg ">
                                Sign up
                            </button>
                        </div>
                    </form>
                    <a href="#" type="submit" class="thembg1 w-full p-1.5 rounded-lg mt-4 ">
                        <i class="fa-brands fa-google text-xl mx-2"></i>Login with Google
                    </a>
                    <div class="text-center lg:text-lg text-sm py-2 mt-4">
                        <p class="">If you have already an account? <a href="#" class="themcolor1">Login</a> now.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Registation start -->

{% endblock content %} 