{% extends "base.html" %}
{% load static %}
{% block title %}home{% endblock title %}
{% block content %}

<!-- user profile dashboard start -->
<div class="container mx-auto max-w-7xl">
    <div class="flex ">
        <!-- Left Sidebar -->
        {% include "user/include/left-side.html" %}

        <!-- right side  -->
        <div class="w-full lg:w-3/4  lg:m-8  shadow-lg">
            <!-- change password start -->
            <div class="tab-content lg:pt-6 lg:px-6 p-1">
                <div class="w-full md:w-1/2 shadow-lg py-5 rounded-lg mx-auto">
                    <h5 class="mb-5 text-center text-xl font-semibold">Change Password</h5>
                    <form action="{% url 'change_password' %}" class="p-6" method="post">
                        {% csrf_token %}
                        <!-- Current Password -->
                        <div class="mb-4">
                            <label for="oldPassword" class="block text-sm font-medium text-gray-700">Current
                                Password
                                <sup class="ml-1 text-red-500">*</sup>
                            </label>
                            <input type="password"
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-0 focus:ring-blue-500"
                                name="old_password" id="oldPassword" placeholder="Current password" required="">
                        </div>
                        <!-- New Password -->
                        <div class="mb-4">
                            <label for="newPassword1" class="block text-sm font-medium text-gray-700">New Password
                                <sup class="ml-1 text-red-500">*</sup>
                            </label>
                            <input type="password"
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-0 focus:ring-blue-500"
                                name="new_password1" id="newPassword1" placeholder="New password" required="">
                        </div>
                        <!-- Confirm Password -->
                        <div class="mb-4">
                            <label for="newPassword2" class="block text-sm font-medium text-gray-700">Confirm
                                Password
                                <sup class="ml-1 text-red-500">*</sup>
                            </label>
                            <input type="password"
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                                name="new_password2" id="newPassword2" placeholder="Confirm password" required="">
                        </div>
                        <!-- Submit Button -->
                        <div class="text-center">
                            <button type="submit"
                                class="w-full py-2 thembg1 text-white rounded-full  focus:outline-none focus:ring-1 focus:ring-red-500">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}